version: '3'
services:
  db:
    image: postgres
    volumes:
      - ./tmp/db:/var/lib/postgresql/data
  web:
    build: ./web
    command: bundle exec rails s -p 3000 -b '0.0.0.0'
    volumes:
      - ./web:/myapp/web
    ports:
      - "3001:3000"
    depends_on:
      - db
  frontend:
    image: "node:10-alpine"
    user: "node"
    working_dir: /myapp/frontend
    volumes:
      - ./frontend:/myapp/frontend
    ports:
      - "3000:3000"
    command: "yarn start"
    depends_on:
      - web
